@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.parallax {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.parallax img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section {
    padding: 6rem;
    background-color: rgb(255, 212, 218);
    color: black;
}

.section h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}